---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { KEYWORDS, DESCRIPTION } from "@data/index";

interface Props {
    title: string;
    keywords?: string[];
    description?: string;
}

const {
    title = "The Cogitator",
    keywords = KEYWORDS,
    description = DESCRIPTION,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header keywords={keywords} description={description} />
        <h1>{title}</h1>
        <Footer />
    </body>
</html>
<script>
    function fixFooter() {
        var page = document.getElementById("page")!;
        var bottom = document.getElementById("footer")!;
        if (page.offsetHeight + bottom.offsetHeight < window.innerHeight) {
            bottom.classList.add("stickybottom");
        } else {
            bottom.classList.remove("stickybottom");
        }
    }

    document.addEventListener(
        "DOMContentLoaded",
        function () {
            fixFooter();
        },
        false
    );

    (function () {
        const throttle = function (type: string, name: string) {
            let running = false;
            const func = function () {
                if (running) {
                    return;
                }
                running = true;
                requestAnimationFrame(function () {
                    window.dispatchEvent(new CustomEvent(name));
                    running = false;
                });
            };
            window.addEventListener(type, func);
        };
        throttle("resize", "optimizedResize");
    })();

    // handle event
    window.addEventListener("optimizedResize", function () {
        fixFooter();
    });
</script>
